



      {% if comment.get_reply %}
      
       
          {% for reply in comment.get_reply %}

            
            <article class="p-6 mb-3 ml-6 lg:ml-12 text-base bg-white rounded-lg dark:bg-gray-900">
            <small class="text-xs italic">reply to: {{comment.user}} comment ({{comment.date_added}}) </small>
                <footer class="flex justify-between items-center mb-2">
                    <div class="flex items-center ">
                    
                        <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold">
                        {% if  reply.reported_comment.count > 0 %} <i class="fa-solid fa-triangle-exclamation fa-xl text-red-400"></i> {% endif %}
                        <img
                                class="mr-2 w-6 h-6 rounded-full"
                                src="{{reply.user.profile.image.url}}"
                                alt="">{{reply.user.username}}</p>
                        <p class="text-sm text-gray-600 dark:text-gray-400">{{reply.date_added}}</time></p>
                    </div>
                    <div class="relative" data-twe-dropdown-ref>
          <button
            class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 dark:text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            type="button"
            id="dropdownMenuButton1"
            data-twe-dropdown-toggle-ref
            aria-expanded="false"
            data-twe-ripple-init
            data-twe-ripple-color="light">
            <i class="fa-solid fa-list"></i>
            <span class="ms-2 w-2 [&>svg]:h-5 [&>svg]:w-5">
              <i class="fa-solid fa-caret-down"></i>  
            </span>
          </button>
          <ul
            class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-base shadow-lg data-[twe-dropdown-show]:block dark:bg-surface-dark"
            aria-labelledby="dropdownMenuButton1"
            data-twe-dropdown-menu-ref>
            {% if request.user == reply.user %}
            <li>
              <a
                class="block w-full whitespace-nowrap bg-white px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="{% url 'update_comment' reply.pk %}"
                data-twe-dropdown-item-ref
                >Edit</a
              >
            </li>
            <li>
              
              <a
                class="block w-full whitespace-nowrap bg-white px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="{% url 'delete_comment' reply.pk%}"
                data-twe-dropdown-item-ref
                >Remove</a>
              
            </li>
            
            {% else %}
            <li>
              <a
                class="block w-full whitespace-nowrap bg-white px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                href="{% url 'report_comment' reply.pk%}"
                data-twe-dropdown-item-ref
                >Report</a
              >
            </li>
            {% endif %}

              {% if request.user.is_superuser and reply.reported_comment.count > 0 %}
                <li>
                  <a
                    class="block w-full whitespace-nowrap bg-white px-4 py-2 text-sm font-normal text-green-700 hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                    href="{% url 'allow_comment' reply.pk%}"
                    data-twe-dropdown-item-ref
                    >Allow</a
                  >
                </li>

                <li>
                  <a
                    class="block w-full whitespace-nowrap bg-white px-4 py-2 text-sm font-normal text-red-700 hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                    href="{% url 'hide_comment' reply.pk %}"
                    data-twe-dropdown-item-ref
                    >Hide</a>
                </li>
              {% endif %}
          </ul>
        </div>
                </footer>
                

                <p class="text-gray-500 dark:text-gray-400">{% if not reply.hidden %} {{reply.message}} {% else %}<small class="italic font-bold text-red-700"> Comment hidden by Site Administrator</small>  {% endif %}</p>
                {% if reply.user != request.user%}
                <div class="flex items-center mt-4 space-x-4">
                    <a href="{% url 'reply_comment' comment.pk %}"
                        class="flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400 font-medium">
                        <svg class="mr-1.5 w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5h5M5 8h2m6-3h2m-5 3h6m2-7H2a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h3v5l5-5h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"/>
                        </svg>                
                        Reply
                    </a>
                </div>
                {% endif %}

            
                
            </article>
        
        {% endfor%}
    
    {% endif %}


