{% if page_name == "create_forum" %}
<h5 class="text-2xl font-extrabold dark:text-white text-center py-8 ">Create new forum </h5>
{% elif page_name == "edit_forum"%}
<h5 class="text-2xl font-extrabold dark:text-white text-center py-8 ">Edit forum</h5>
{% elif page_name == "create_room" %}
<h5 class="text-2xl font-extrabold dark:text-white text-center py-8 ">Create new chatroom</h5>
{% elif page_name == "report_comment" %}
<h5 class="text-2xl font-extrabold dark:text-white text-center py-8 ">Report  comment</h5>
{% elif page_name == "update_comment" %}
<h5 class="text-2xl font-extrabold dark:text-white text-center py-8 ">Update comment</h5>
{% elif page_name == "reply_comment" %}
<h5 class="text-2xl font-extrabold dark:text-white text-center py-8 ">Reply  comment</h5>
{% elif page_name == "edit_room" %}
<h5 class="text-2xl font-extrabold dark:text-white text-center py-8 ">Edit room</h5>

{% endif %}