{% extends "main/base.html" %}

{% block content %}


<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 items-center">
  <div class="p-4 max-w-md bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700 text-center">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Change your password:</br><small italic> {{request.user.username}}</small></h2>
  </div>
  <div class="flow-root">
    <form class="space-y-6"  method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        {% for field in form %}
        {{field}}

        {% endfor %}
      <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Submit</button>
      </div>
    </form>

  </div>
  </div>
</div>



{% endblock content %}